body {
  font-family:;
	margin-right: 10px;
}
nav Arial, sans-serif;
}

header, nav, ul, li {
  ul li a {
	text-decor display: flex;
  justify-content: center;
}

header {
  background-color: lightation: none;
	color: #007bff;
}
``blue;
  margin: 0;
}

nav {
  margin-top: 5px`
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0 5px;
}


// Utilisateur module
function utilisateurModule {
  text-decoration: none;
  color: black;
}

#inscription-module {
  margin-top: 2rem;
}

#inscription-form {
  display: flex;
  flex-direction: column;
}

#inscription-form label {
  margin-bottom: 0.5rem;
}

#inscription-form input[type="text"],
#inscription-form input[type="password"],
#inscription-form input[type="email"] {
  margin-bottom: 1rem;
}

#inscription-form button {
  align-self: center;
}

// Show/hide modules based on the selected option
const {
  border: 1px solid lightgray;
  padding: 20 visiteurLink = document.getElementById("visiteur-link");
  const utilisateurLink = document.getElementByIdpx;
  margin: 20px 0;
}

#utilisateur-module {
  display: none;
}

#abonne-module {
  display: none;
}
